h1 {
    border-width: 1px;
    border-style: solid;

    margin: 50px 50px 50px 50px;

    padding: 10px 10px 10px 10px;

}

h2 {
    border: 1px solid black;
}
.taskbar {
    position: fixed;
    bottom: 8px;
    left: 16px;
    font-size: 18px
}

a{
    border: 1px solid;

}
.tab{
    border: 2px solid 
    padding: 10px 10px 10px 10px;
}