*{margin: 0;}
img {
    max-width: 100%;
    height: auto;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    width: 100%;
    position: fixed;
    height: 8.5%;
    padding:  0.5rem 5rem 0.5rem;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 22px;
    border-bottom: 1px solid #000;
    background-color: rgb(192, 192, 165);
}
main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    top: 2rem;
    left: 0.1rem;

    margin: 1rem 0rem 0rem;
    padding: 5rem 0.5rem 5rem;
    background-color: rgb(255, 255, 255);
    overflow: scroll;
}
main h1, main h3, main form, main details, main img, main p, input {
    margin-bottom: 2rem; /* adjust as per your preference */
}
main button{margin-bottom: 1rem;}
footer{
    width: 100%;
    height: fit-content;
    position: fixed;    
    bottom: 0pt;
    padding: 1rem;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #000;
    background-color: rgb(192, 192, 165);
}
h1{
    text-align:center;
}
h2 {
    border: 0.1rem solid;
    padding: 0.3rem 1rem 0.3rem;
    background-color: rgba(42, 138, 177, 0.363);
}
.settings{
    position: fixed;
    right: 1rem;
    top: 0.2rem;
    background-color: rgb(192, 192, 165);
}
.back{
    position: fixed;
    left: 0rem;
    top: 0.2rem;
    background-color: rgb(192, 192, 165);
}
.space-between{
    display: flex;
    flex-direction: line;
    justify-content: space-around;
    margin-bottom: 2rem;
}
.meio {
    align-items: center;
}
.title {
    text-align: center;
    font-size: 2.5rem
}

.coluna {
    display: flex;
    flex-direction: column;
}
.linha {
    display: flex;
    flex-direction: row;
}
.left{left: 1rem;}
.right{right: 1rem;}