.linha {
    display: flex;
    flex-direction: row;
}

.coluna {
    display: flex;
    flex-direction: column;
}

a{
    text-decoration:none;
    color: rgb(86, 173, 198);
}

.box {
    border: 1px solid black;
    padding: 0.3rem;
    margin: 2.65rem;
}

.boxzinho {
    border: 1px solid black;
    padding: 0.3rem;
    margin: 2rem;
}

/* Taskbar e Footer */

.taskbar{
    justify-content: space-around;
    align-items: center;
}

footer{
    padding: 1rem;
    border-top: 1px solid black;
    background-color: rgb(86, 173, 198);
    position: fixed;
    bottom: 0%;
    width: 100%;
}

/* Taskbar e Footer */

/* Header */

header{
    background-color: rgb(86, 173, 198);
    padding: 1rem;
}

/* Header */